echo "# Demo-product-landing-page." >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Detea5050/Demo-product-landing-page..git
git push -u origin mainnode_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
